<!DOCTYPE html>
<html>
      <head>
           <title> Backend task3</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
           
           <h2>{{>header}}</h2>
           <div class="div-content">
           
             <h2 class="div-header"> hbs {{title}} page content</h2>
             <h2 class="div-header">{{desc}}</h2>
             <h2 class="div-header">name:{{name}}</h2>
             <h2 class="div-header">age:{{age}}</h2>

           </div>
          
           <h2>{{>footer}}</h2>
          
      </body>
</html>