<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Beautiful Footer</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/all.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> 
</head>
<body>

    <div class="container2">
        <header class="header">
            <h1>Header</h1>
        </header>

        <main class="content">
            <p>Main content goes here. Add more content to see how the footer sticks to the bottom.</p>
        </main>

        <footer class="footer">
             <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id euismod urna.</p>
                </div>
                <div class="footer-col">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Newsletter</h4>
                    <form action="index.html" method="post">
                        <input type="email" name="email" class="newsletter-input" placeholder="Your email address...">
                        <button type="submit" class="btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
