<!DOCTYPE html>
<html>
      <head>
           <title> task3</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>

          <div class="header1" >
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">contact</a>
            <a href="/service">Service</a>
            <a href="/team">Team</a>
          </div>
          
      </body>
</html>